input[type="submit"], input[type="button"] {
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #007acc;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 25%; /* Ajusta este valor a tus necesidades */
    margin: 0 auto; /* Centra el formulario en la página */
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

input[type="month"], input[type="number"] {
    /* Aquí van tus estilos */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

input[type="checkbox"] {
    /* Aquí van tus estilos para el checkbox */
    width: 20px;
    height: 20px;
}

label[for="cbox1"] {
    /* Aquí van tus estilos para el texto */
    font-size: 16px;
    color: #333;
}
